
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');



body {
    background-color: #1b1b1b;
    }

hr {
    
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
}


.err-title {
    text-transform: uppercase;
    font-size: 7em;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #B4100B;
    letter-spacing: 25px;
}

span.err-status {
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #CECECE;
    letter-spacing: 10px;
}

span.err-statuscode {
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #626262;
    letter-spacing: 10px;
}
span.err-junk {
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #CECECE;
    letter-spacing: 10px;
}
.err-footer {
  margin-bottom: 30px;
}


span.err-boxed {
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Rajdhani';
    font-weight: 600;
    letter-spacing: 7px;
    padding: 0px 6px 0px 6px;
    margin: 0px 25px 0px 0px;

}
span.err-boxed.wht{
    color: #000;
    background-color:#CECECE;
}
span.err-boxed.red{
    border: 0px solid rgba(255, 255, 255, 0.1);
    color: #000;
    background-color:#B4100B;
    margin-left: -20px;
}
.err-container {
        margin: 5% 50% 0 25%;
        width: 50%;
        display: block;
        padding: 80px 0;   

}


.err-link-container {
  margin: 8% 0% 8% 0%
}

.err-link-container div {
    margin-bottom: 10px;
}

a.err-link {
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #c9b311d0;
    letter-spacing: 10px;
    text-decoration: none;
    
}

a.err-link:hover{
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'Rajdhani';
    font-weight: 500;
    color: #e9cf0ae5;
    letter-spacing: 10px;
    text-decoration: line-through;
}



html,
body {
	padding: 0;
	margin: 0;
	position: relative;
	height: 100vh;
	font-family: "Raleway", sans-serif;
	overflow-y: hidden;
}

.content {
	max-width: 650px;
	margin: 0 auto;
	top: 35%;
	position: absolute;
  left: 30%;
  opacity: 0;
}

.page-loader {
  height: 100vh;
  width: 100vw;
	max-width: 650px;
	margin: 0 auto;
	top: 35%;
	position: absolute;
  left: 30%;
  background-color: #1b1b1b;
  z-index: 999;
	
}

@media screen and (max-width: 900px) {
  .content {
    top: 30%;
    left: 20%;
  }
  .page-loader {
    top: 30%;
    left: 20%;
  }

  span.err-boxed {
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0px 25px 0px -15px;
  }
  
  .err-link-container {
    margin: 8% 0% 8% 0%
  }
  
  .err-title {
    font-size: 4em;
    letter-spacing: 15px;
  }
  
}

@media screen and (max-width: 650px) {
  .content {
    top: 30%;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
  }
  .page-loader {
    top: 30%;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
  }

  span.err-boxed {
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0px 25px 0px -15px;
  }
  
  .err-link-container {
    margin: 8% 0% 8% 0%
  }
  
  .err-title {
    font-size: 4em;
    letter-spacing: 15px;
  }
}

@media screen and (max-width: 450px) {
  .content {
    top: 30%;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
  }
  .page-loader {
    top: 30%;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
  }

  span.err-boxed {
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0px 25px 0px -15px;
  }
  
  .err-link-container {
    margin: 8% 0% 8% 0%
  }
  
  .err-title {
    font-size: 2.5em;
    letter-spacing: 15px;
  }
}
  
@media screen and (max-width: 350px) {
  .content {
    top: 30%;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
  }
  .page-loader {
    top: 30%;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
  }

  span.err-boxed {
    font-size: 1em;
    letter-spacing: 1px;
    margin: 0px 25px 0px -15px;
  }
  
  .err-link-container {
    margin: 8% 0% 8% 0%
  }
  
  .err-title {
    font-size: 2em;
    letter-spacing: 15px;
  }
}